---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About Muhammed">
  <div class="flex flex-col gap-2">
    <p class="text-xs font-light">
      Hello! I'm Muhammed, a data analyst living in Chicago!
      <br /> <br />
       My primary tools of choice includes:
      <ul class="text-xs list-disc list-inside">
        <li>Python</li>
        <li>R</li>
        <li>SQL</li>
        <li>Java</li>
        <li>AWS/Azure</li>
      </ul>
      <p class="text-xs font-light">
        <a href="/ResumeOfMuhammedShelleh.pdf" target="_blank" rel="noopener noreferrer">To see my resume, please click here!</a> My main professional experience includes:
      <ul class="text-xs list-disc list-inside">
        <li>Endpoint Technical Support @ Northwestern University</li>
        <li>Regulatory Affairs Intern @ AbbVie</li>
        <li>Deskside Service Advisor @ KPMG</li>
        <li>IT Analyst Intern @ Texas Instruments</li>
        <li>IT Analyst @ Rayonier AM</li>
      </ul>
    </p>
    <p class="text-xs font-light">
      I’m a dedicated PhD student in <a href="https://cs.uic.edu/">Computer Science</a> at <a href="https://uic.edu/">University of Illinois at Chicago</a>. I work on verification and semantics of programming languages, under the excellent direction of <a href="https://mansky.lab.uic.edu/">Dr. William Mansky</a>.
    </p>
    <p class="text-xs font-light">
      Beyond coding, I'm passionate about exploring/traveling, music, baking, and lifting.
      Three fun facts about me: 1, I have a twin sister (who's a minute older), 2, I am Palestinian-Swedish (& fluent in Arabic), and 3, I used to compete in rhythm game competitions!
    </p>
  </div>
</Card>
