---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Here's a snapshot of the primary tools and technologies I work with:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li ><strong>Python</strong></li>
    <li><strong>R</strong></li>
    <li><strong>Java</strong></li>
    <li><strong>SQL</strong></li>
  </ul>
</Card>
